.card-list{
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 gap:2px;
 background-color: #5E6162;
 align-content: flex-start;
}
.card{
 margin: 10px;
 min-height: 120px;
 padding-bottom: 5%;
 width: 20%;
 min-width: 220px;
 border-radius: 4px;
}
.red{
 background-color: firebrick;
}
.green{
   background-color: teal;
}
.blue{
   background-color: midnightblue ;
}
.purple{
   background-color: rebeccapurple;
}
.first{
 width: 60%;
 height: 100%;
 float: left;
 display: flex;
 flex-direction: column;
 justify-content: end;
 align-content: start;
}
.second{
 width: 40%;
 float: right;
 height: 100%;
 display: flex;
 justify-items: end;
 align-items: center;
}
.mg{
 width: 90%;
 object-fit: cover;
 opacity: 0.03;
 margin-top: 30px;
}
.numb{
 color: white;
 font-size:32px;
 align-self: flex-start;
 margin-left: 30px;
}
.tlt{
 color: white;
 align-self: flex-start;
 margin-left: 30px;
 font-size:12px;
}
