.progrescard{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 gap: 12px;
 padding-left: 4px;
 padding-right: 4px;
 width: 40% !important;
 min-height: 300px;
 background-color: black;
 min-width: 270px !important;
}
.buid{
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid gray;
}
.buid p{
 color: gray;
 font-size: 24px;
}
.leftside{
 display: flex;
 justify-items: center;
 align-items: center;
 margin-bottom: 5px;
}
.child{
 width: 200px;
 height: 100px;
}
.leftside{
 object-fit: cover;
}
.rightside{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}