.card-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 gap:2px;
 background-color: #5E6162;
 align-content: flex-start;
}
.my-card {
  padding-bottom: 5%;
  min-height: 200px;
 background-color:#181a1b;
 border-color: #5E6162;
 border-radius: 3px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 25%;
 min-width: 200px;
}
.bodycard{
 display: flex;
 flex-direction: column;
 justify-items: center;
 align-items: center;
 margin-top: 15%;
 gap: 20px;
}
.secondchild{
 display: flex;
 flex-direction: column;
 justify-items: center;
 align-items: center;
 gap: 10px;
}

.percentage-number {
 color: red;
 font-size: 14px;
 font-weight: 400;
}
.percentagee-number {
 color: green;
 font-size: 14px;
 font-weight: 400;
}


.number {
 color: white;
 font-size: 24px;
 font-weight: 600;
}


.card-title {
 color: gray;
 margin-bottom: 4px;
 font-weight: 600;      
}
