/* .cardss-list{
 margin-left: 4px;
 height: 200px;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 gap: 20px;
 margin-top: 200px;
 margin-bottom: 400px;
} */
.progres-card{
 padding-left: 2px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 width: 30%;
 max-height: 150px;
 background-color: white;
 min-width: 270px !important;
 padding-left: 10px;
}
.built{
display: flex;
width: 90%;
justify-content: space-between;
align-items: baseline;
gap: 8px;
}
.built p{
 font-size: 28px;
 background-color: transparent;
}
.barr{
width: 90%;
}
.red{
 color: red;
}
.green{
 color: green;
}
.yellow{
 color: #7C7C12;
}
.title{
 color: gray;
}

.parent{
 width: 100%;
 height: 100%;
 display: flex;
 overflow: hidden;
 align-items: center;
 justify-items: center;
}